
.App {
  display: flex;
  flex-direction: column;
}
.App-body {
  height: 1360px;
}

.Banner-body {
  
}

button , input {
  cursor: pointer;
}

.h1-title{
  font-family: 'Playwrite HR Lijeva', cursive;
  color: #B5C18E;
  
}